@import './variable.scss';

.c-black {
    color:map-get($mv-color, mv-black);
}

.c-white {
    color: map-get($mv-color, mv-white);
}

.c-grey {
    color: map-get($mv-color, mv-gray);
}

.b-white {
    background: map-get($mv-background, mv-white );
}

.b-blue {
    background: map-get($mv-background, mv-blue);
}

.b-green {
    background: map-get($mv-background, mv-green);
}