$mv-background: (
    mv-white:#fff,
    mv-blue: #1943EF,
    mv-green: #26C296
);

$mv-color: (
    mv-black: #000,
    mv-white: #fff,
    mv-gray: #73738D,
    mv-blue: #1943EF
);

$mv-font-size: (
    mv-font-sm:11px,
    mv-font-md: 14px,
    mv-font-title1:24px
);

$mv-font-family: (
    mv-font-light: "gilroy-light",
    mv-font-bold:"gilroy-extrabold"
);

@mixin padding ($top-bottom, $right-left,) {
    padding: $top-bottom $right-left;
  }

@mixin flex-center {
    display:flex;
    align-items:center;
} 