@font-face {
    font-family: 'gilroy-light';
    src: url("./WebFonts/gilroy_light_macroman/gilroy-light-webfont.woff2") format('woff2'),
         url("./WebFonts/gilroy_light_macroman/gilroy-light-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'gilroy-extrabold';
    src: url('./WebFonts/gilroy_extrabold_macroman/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('./WebFonts/gilroy_extrabold_macroman/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
     font-family: 'gilroy-semibold';
     src: url('./WebFonts/Gilroy-SemiBold.ttf') format('ttf'),
          url('./WebFonts/Gilroy-SemiBold.ttf') format('woff');
     font-weight: normal;
     font-style: normal;
  }