$background: (
    bc-white:#fff,
    bc-blue-btn: #1943EF,
    bc-green-btn: #26C296,
    bc-grey-icons:#E8ECFD,
    bc-green-icons: #E9F9F4
);

$color: (
    c-black: #000,
    c-white-btn: #fff,
    c-text: #73738D,
    c-blue: #1943EF,
    c-green-send:#26C296
);

$font-size: (
    font-mobile:8px,
    font-sm:12px,
    font-mdd:14px,
    font-md: 17px,
    font-logo-mobile:18px,
    font-logo-dt:24px,
    font-title-options: 30px,
    font-title-mobile:25px,
    font-title-dt: 50px
);

$font-family: (
    font-light: "gilroy-light",
    font-bold:"gilroy-extrabold"
);

$padding-btns: (
    padding-sm: 10px 27px
);

$width: (
    width-md: 50%,
    width-mdl: 65%,
    width-center:80%,
    width-lg:100%
);

$radius-btn: 33px;

$border-table:1px solid #E8ECFD;

